{% load otree staticfiles %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
        Instructions
    </h3>

    <p>
        You will be paired randomly and anonymously with another participant.
        In this study, one of you will be Player 1 and the other
        Player 2. Prior to making a decision, you will learn your role,
        which will be randomly assigned.
    </p>
    <p>
        There is {{ Constants.endowment }} to split. Player 1 will
        decide how much she or he will retain. Then the rest will go to
        Player 2.
    </p>

</div>
